uise--desktop--Spinner * {
    color: #000000;
}

uise--desktop--Spinner QLabel {
    background-color: transparent;
}

uise--desktop--Spinner * [style-sample="true"] {
    background-color: #ffffff;
    selection-background-color: #d3d3d3;
}
