uise--FrameWithModalStatus #buttonsFrame uise--PushButton,
uise--FrameWithModalStatus #busyWaitingFrame uise--PushButton
{margin:4px;}
uise--FrameWithModalStatus #buttonsFrame uise--PushButton QPushButton,
uise--FrameWithModalStatus #busyWaitingFrame uise--PushButton QPushButton
{border-radius: 4px; padding: 2px 12px;}
uise--FrameWithModalStatus #buttonsFrame #cancelBusyButton {margin:8px 0 0 0;}
