uise--FrameWithModalStatus uise--PushButton {margin:4px;}
uise--FrameWithModalStatus uise--PushButton QPushButton{border-radius: 4px; padding: 2px 12px;}
uise--FrameWithModalStatus #cancelBusyButton {margin:8px 0 0 0;}
