uise--NavigationBarPanel {padding:0;margin:0;}
uise--NavigationBar {padding:0; margin:0;}
uise--NavigationBar QToolButton{
    padding:4px;
    margin:4px;
    border:none;
    font-size:12px;
    text-decoration:underline;
}
uise--NavigationBar QToolButton:checked {text-decoration:none;}
uise--NavigationBar QScrollBar {margin:0;padding:0;}
