uise--PasswordPanel uise--PasswordInput{margin: 8px 0px;}

uise--PasswordInput uise--PushButton QPushButton {border: none; padding:0; margin:0;}

uise--PasswordDialog uise--PasswordInput uise--PushButton QPushButton {border: none; padding:0; margin:0;}
uise--PasswordDialog uise--PasswordInput uise--PushButton QPushButton:hover{border: none; padding:0; margin:0;}
