uise--QrCodeScanner #buttonsFrame {
padding: 8px;
}

uise--QrCodeScanner #buttonsFrame uise--PushButton {
padding: 6px 8px;
}

uise--QrCodeScanner #buttonsFrame uise--PushButton QPushButton
{
border-radius: 4px;
padding: 4px 12px;
min-width: 80px;
}
