uise--AbstractWizardDialog #dialogIcon QPushButton {icon-size:48px;}

uise--AbstractWizardDialog QTextEdit
{margin: 0;}

uise--AbstractWizardDialog QTextEdit,
uise--AbstractWizardDialog QScrollArea
{border:none;}
