uise--Spinner * {
    color: #ffffff;
}
uise--Spinner QLabel {
    background-color: transparent;
}
uise--Spinner * [style-sample="true"] {
    background-color: #111111;
    selection-background-color: #444444;
}
