uise--FrameWithModalStatus #busyWaitingFrame uise--PushButton QPushButton,
uise--FrameWithModalStatus #buttonsFrame uise--PushButton QPushButton
{color: #555555;background-color: transparent;border: 1px solid #999999;}

uise--FrameWithModalStatus #busyWaitingFrame uise--PushButton QPushButton:hover,
uise--FrameWithModalStatus #buttonsFrame uise--PushButton QPushButton:hover
{color: #444444;border: 1px solid #444444;}

uise--FrameWithModalStatus #buttonsFrame #cancelBusyButton {background-color: #CCCCCC;}
