uise--NavigationBarSeparator {color:#888888;}
uise--NavigationBarSeparator[hover="true"] {color:#444444;}
uise--NavigationBarItem #text {color:#888888;}
uise--NavigationBarItem #text[hovered="true"] {color:#444444;}
uise--NavigationBarItem[checked="true"] #text {color:#444444;}

uise--NavigationBarPanel {background-color: #DDDDDD; border:none;}

uise--NavigationBar {border:none;}
