uise--PasswordPanel QLabel#error,
uise--NewPasswordPanel QLabel#error,
#NewPasswordWizard QLabel#error,
uise--PasswordDialog uise--PasswordPanel QLabel#error{
color: #ff6677;
}

uise--NewPasswordPanel #buttonsFrame QPushButton {
color: #444444;
}

uise--NewPasswordPanel #buttonsFrame QPushButton:hover {
color:#000000;
}

#NewPasswordWizard uise--PasswordInput
{
background-color: #F0F0F0;
border-radius: 12px;
padding: 16px 20px 24px 20px;
}
