uise--AbstractChatMessageContent {
background-color: #262a30;
}

uise--ChatMessageText uise--ChatMessageTextBrowser {
background-color: transparent;
border:none;
selection-background-color: #1055C9;
}

uise--ChatMessageBottom QLabel {
color: #777777;
}
