uise--FrameWithModalStatus uise--PushButton QPushButton{color: #CCCCCC;border: 1px solid #999999; background-color: transparent;}
uise--FrameWithModalStatus uise--PushButton QPushButton:hover{color: #EEEEEE;border: 1px solid #EEEEEE;}
uise--FrameWithModalStatus #cancelBusyButton {background-color: #444444;}
