uise--NavigationBarSeparator {color:#888888;}
uise--NavigationBarSeparator[hover="true"] {color:#BBBBBB;}
uise--NavigationBarItem #text {color:#888888;}
uise--NavigationBarItem #text[hovered="true"] {color:#BBBBBB;}
uise--NavigationBarItem[checked="true"] #text {color:#BBBBBB;}

uise--NavigationBarPanel {background-color: #444444; border:none;}

uise--NavigationBar {border:none;}
