uise--QrCodeScanner #buttonsFrame uise--PushButton QPushButton
{color: #CCCCCC;border: 1px solid #999999; background-color: transparent;}

uise--QrCodeScanner #buttonsFrame uise--PushButton QPushButton:hover
{color: #EEEEEE;border: 1px solid #EEEEEE;}

uise--QrCodeScanner #buttonsFrame uise--PushButton QPushButton:disabled
{color: #777777;border: 1px solid #999999;}
